body {
    background: url('img/bg.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
}

h1.heading {
    margin-top: 50px;
    color: #fff;
    font-size: 44px;
    text-align: center;
    filter: drop-shadow(5px 5px 5px black);
}

footer {
    text-align: center;
}

h3,
h3 a {
    color: rgb(0, 255, 34);
    text-decoration: none;
}

#city,
#search {
    font-size: 30px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 5px;
    border: none;
    box-shadow: 0 2px 15px 0 black;
}

#search {
    background-color: wheat;
    width: 100px;
    cursor: pointer;
}

.search-area {
    margin: 10px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.result-area {
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 30px;
    width: 400px;
    background-color: rgb(48, 230, 175);
    box-shadow: 0 10px 15px 2px black;
}

.flexed {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-direction: column;
    align-items: center;
}

h1#name {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(12, 3, 128);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (max-width:960px) {
    body {
        height: 100%;
    }
    main {
        flex-direction: column;
    }
}

@media (max-width:600px) {
    h1#name {
        font-size: 30px;
    }
    h1 {
        font-size: 20px;
    }
    h1.heading {
        font-size: 30px;
    }
    #city,
    #search {
        font-size: 20px;
    }
    .search-area {
        margin-bottom: 5px;
        width: 250px;
    }
    .result-area {
        min-width: 200px;
        width: 70%
    }
}